body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 2em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 0.5em;
}

main {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #1f1f1f;
    margin: 1em;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.project h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.project p {
    margin-bottom: 1em;
}

.project a {
    display: inline-block;
    padding: 0.7em 1.5em;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
}

.project a:hover {
    background-color: #45a049;
}

footer {
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
